<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Amazon Assesment" verbose="1">
    <parameter name="Brand" value="Samsung"></parameter>
    <test name="Search Samsung Brand second Highest priced Television">
        <classes>
            <class name="com.selenium.assignment.AssessmentTest" />
        </classes>
    </test>
</suite>